<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/admin_base::admlayout(~{::title},~{::main})">
<head>

<title>Dashboard</title>
</head>
<body>



	<!-- BODY MAIN START-->
	<main class="content">
		<div class="container-fluid p-0">
<!--  -->	
		
			
<div class="card">
  <h5 class="card-header" style="text-align: end;">Count - Quick View</h5>
  <div class="card-body">  
    	<div class="row">
    				
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Remaining Fees</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="dollar-sign"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-danger-light">$47.482</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 3.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Remaining Bill</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-bag"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-danger-light">2.542</h1>
									<div class="mb-0">
										<span class="badge badge-danger-light"> <i class="mdi mdi-arrow-bottom-right"></i> -5.25% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Active Projects</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="activity"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-warning-light">16.300</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Completed Projects</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-cart"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">$20.120</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 2.35% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
	  </div><!-- row end -->
  </div><!-- card-body end -->
   <div class="card-footer">
    			<div class="row mb">
      				<div class="col-sm-12" style="text-align: center;">
        				<!-- Footer Text Here -->
     				</div>
     			</div>
  </div> <!-- .Card-Footer end -->
</div> <!-- .Card end -->




<div class="card">
  <h5 class="card-header" style="text-align: end;">Admission - Quick View</h5>
  <div class="card-body">  
    	<div class="row">
    				
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Total Admission</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="dollar-sign"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">$47.482</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 3.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Courses Admission</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-bag"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">2.542</h1>
									<div class="mb-0">
										<span class="badge badge-warning-light"> <i class="mdi mdi-arrow-bottom-right"></i> -5.25% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Internship Admission</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="activity"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">16.300</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Sponsership Admission</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-cart"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">$20.120</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 2.35% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
	  </div><!-- row end -->
  </div><!-- card-body end -->
   <div class="card-footer">
    			<div class="row mb">
      				<div class="col-sm-12" style="text-align: center;">
        				<!-- Footer Text Here -->
     				</div>
     			</div>
  </div> <!-- .Card-Footer end -->
</div> <!-- .Card end -->




<div class="card">
  <h5 class="card-header" style="text-align: end;">Employee - Quick View</h5>
  <div class="card-body">  
    	<div class="row">
    				
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Total Employee</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="dollar-sign"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-warning-light">$47.482</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 3.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Todays Attendance</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-bag"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-danger-light">2.542</h1>
									<div class="mb-0">
										<span class="badge badge-warning-light"> <i class="mdi mdi-arrow-bottom-right"></i> -5.25% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
				
				<!--  		
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Internship Admission</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="activity"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">16.300</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 4.65% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-xl-3">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col mt-0">
											<h5 class="card-title">Sponsership Admission</h5>
										</div>

										<div class="col-auto">
											<div class="stat text-primary">
												<i class="align-middle" data-feather="shopping-cart"></i>
											</div>
										</div>
									</div>
									<h1 class="mt-1 mb-3 badge-success-light">$20.120</h1>
									<div class="mb-0">
										<span class="badge badge-success-light"> <i class="mdi mdi-arrow-bottom-right"></i> 2.35% </span>
										<span class="text-muted">Since last week</span>
									</div>
								</div>
							</div>
						</div>
				-->
						
	  </div><!-- row end -->
  </div><!-- card-body end -->
   <div class="card-footer">
    			<div class="row mb">
      				<div class="col-sm-12" style="text-align: center;">
        				<!-- Footer Text Here -->
     				</div>
     			</div>
  </div> <!-- .Card-Footer end -->
</div> <!-- .Card end -->



		
<!--  -->	
			
	</div>
</main>
	<!-- BODY MAIN END-->



</body>
</html>